@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Tangerine:wght@700&display=swap");
#aaa {
  color: #fff;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

html,
body {
  background-color: rgb(38, 41, 38);
}

.navbar .nav_menu_logo {
  margin: 0 5px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.navbar .nav_menu_logo .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 3px 5px;
  padding: 0;
}
.navbar .nav_menu_logo .logo {
  padding: 0;
}
.navbar .nav_menu_logo .logo h1 {
  padding: 0;
  margin: 0;
  font-size: 1.6em;
  letter-spacing: 0.1em;
  font-family: "Tangerine", cursive;
  color: #075c0b;
}
.navbar .nav_menu_logo .languages {
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.navbar .nav_menu_logo .languages .language-active {
  padding: 3px;
  margin: 0 3px;
  width: 40px;
  background-color: #075c0b;
  color: silver;
}
.navbar .nav_menu_logo .languages .language {
  padding: 3px;
  margin: 0 3px;
  width: 40px;
  background-color: gray;
  color: black;
}
.navbar .nav_menu_mobile {
  margin: 0 5px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.navbar .nav_menu_mobile .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 3px 5px;
  padding: 0;
}
.navbar .button {
  margin: 0 3px;
  padding: 5px 20px;
  border-radius: 5px;
  border: 2px solid rgb(161, 161, 161);
  border-style: outset;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2em;
  background-color: #075c0b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  overflow: hidden;
  color: silver;
}
.navbar .button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1.2em;
  height: 100%;
  background-color: #fff;
  opacity: 0.2;
  -webkit-transform: translateX(-3em) skewX(-45deg);
          transform: translateX(-3em) skewX(-45deg);
}
.navbar .button:hover {
  -webkit-transition: 1.2s;
  transition: 1.2s;
  color: white;
}
.navbar .button:hover::before {
  -webkit-animation: blick 1.3s;
          animation: blick 1.3s;
}
@-webkit-keyframes blick {
  from {
    -webkit-transform: translateX(-3em) skewX(-45deg);
            transform: translateX(-3em) skewX(-45deg);
  }
  to {
    -webkit-transform: translateX(30em) skewX(-45deg);
            transform: translateX(30em) skewX(-45deg);
  }
}
@keyframes blick {
  from {
    -webkit-transform: translateX(-3em) skewX(-45deg);
            transform: translateX(-3em) skewX(-45deg);
  }
  to {
    -webkit-transform: translateX(30em) skewX(-45deg);
            transform: translateX(30em) skewX(-45deg);
  }
}
.navbar .nav_menu_computer {
  margin: 0 5px;
  padding: 0;
  display: none;
}
.navbar .nav_menu_computer .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 3px 5px;
  padding: 0;
}

section {
  height: 400px;
  margin-bottom: 10px;
}
section h2 {
  color: silver;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

#courses {
  margin-top: 150px;
  height: auto;
}
#courses #favorite_team,
#courses #team_list {
  width: 150px;
  height: 30px;
}
#courses .main {
  margin: auto;
  padding: 15px;
  border: 1px solid gray;
  border-radius: 5px;
  color: white;
}
#courses .main input {
  border: none;
}
#courses .main input:focus {
  border: 1px solid;
  -webkit-box-shadow: 0px 0px 3px 3px #09800f;
          box-shadow: 0px 0px 3px 3px #09800f;
}
#courses label {
  font-size: 20px;
}
#courses .searchBox {
  margin-bottom: 15px;
}
#courses .text-center {
  width: 100%;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#courses .text-center .btn {
  margin-right: 5px;
  padding: 5px 20px;
  border-radius: 5px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2em;
  background-color: #075c0b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  overflow: hidden;
  color: silver;
}
#courses .text-center .btn:last-child {
  margin-right: 0;
}
#courses .text-center .btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1.2em;
  height: 100%;
  background-color: #fff;
  opacity: 0.2;
  -webkit-transform: translateX(-3em) skewX(-45deg);
          transform: translateX(-3em) skewX(-45deg);
}
#courses .text-center .btn:hover {
  -webkit-transition: 1.2s;
  transition: 1.2s;
  color: white;
}
#courses .text-center :hover::before {
  -webkit-animation: blicked 1.3s;
          animation: blicked 1.3s;
}
@-webkit-keyframes blicked {
  from {
    -webkit-transform: translateX(-3em) skewX(-45deg);
            transform: translateX(-3em) skewX(-45deg);
  }
  to {
    -webkit-transform: translateX(30em) skewX(-45deg);
            transform: translateX(30em) skewX(-45deg);
  }
}
@keyframes blicked {
  from {
    -webkit-transform: translateX(-3em) skewX(-45deg);
            transform: translateX(-3em) skewX(-45deg);
  }
  to {
    -webkit-transform: translateX(30em) skewX(-45deg);
            transform: translateX(30em) skewX(-45deg);
  }
}
#courses #finalAmount {
  display: none;
  margin: 10px auto;
}
#courses #finalAmount h2 {
  font-size: 30px;
}
#courses .sending a {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
#courses .finalValue {
  color: green;
}
#courses #sel1:focus,
#courses #sel2:focus {
  -webkit-box-shadow: 0px 0px 3px 3px #09800f;
          box-shadow: 0px 0px 3px 3px #09800f;
}

#exchange {
  height: auto;
  margin: 0 12px;
}
#exchange #send_form {
  padding: 12px;
}
#exchange .change {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
#exchange .change :first-child {
  width: 100%;
  margin-right: 10px;
}
#exchange .change :last-child {
  width: 100%;
  margin-right: 0px;
}
#exchange .form {
  height: auto;
  padding: 30px;
  border: 1px solid gray;
  border-radius: 5px;
  color: white;
}
#exchange .form__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
#exchange label {
  margin: 0;
  color: silver;
}
#exchange input {
  height: 40px;
  border-radius: 10px;
  border-style: inset;
}
#exchange input:focus {
  border-style: inset;
  -webkit-box-shadow: 0px 0px 3px 3px #09800f;
          box-shadow: 0px 0px 3px 3px #09800f;
}
#exchange .btn {
  margin: 10px auto 0 auto;
  padding: 5px 20px;
  border-style: none;
  border-radius: 5px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2em;
  background-color: #075c0b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  overflow: hidden;
  color: silver;
}
#exchange .btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1.2em;
  height: 100%;
  background-color: #fff;
  opacity: 0.2;
  -webkit-transform: translateX(-3em) skewX(-45deg);
          transform: translateX(-3em) skewX(-45deg);
}
#exchange .btn:hover {
  -webkit-transition: 1.2s;
  transition: 1.2s;
  color: white;
}
#exchange .btn:focus {
  border-style: none;
  -webkit-box-shadow: 0px 0px 3px 3px #09800f;
          box-shadow: 0px 0px 3px 3px #09800f;
}
#exchange #give,
#exchange #geting,
#exchange #result,
#exchange #input {
  padding-left: 10px;
}

#contacts {
  width: 100%;
  height: auto;
}
#contacts p {
  color: silver;
}
#contacts .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#contacts .col-sm-5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#contacts .col-sm-5 img {
  width: 100%;
}

#faq {
  height: auto;
}
#faq .accordion-button {
  color: #237927;
  background-color: rgb(38, 41, 38);
  border: 1px solid gray;
}
#faq .accordion-body {
  background-color: rgb(52, 54, 52);
  color: silver;
  border: 1px solid gray;
}
#faq .accordion-button:focus {
  -webkit-box-shadow: 0px 0px 1px 1px #09800f;
          box-shadow: 0px 0px 1px 1px #09800f;
}
#faq .accordion-item {
  position: relative;
}
#faq .accordion-item .arrow_hidden,
#faq .accordion-item .arrow_show {
  width: 30px;
  border-radius: 50%;
  background-color: rgba(14, 112, 10, 0.6);
  position: absolute;
  top: 13px;
  right: 15px;
  z-index: 10;
}
#faq .accordion-item .accordion-button.collapsed .arrow_hidden {
  -webkit-transform: rotateZ(90deg);
          transform: rotateZ(90deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#faq .accordion-item .accordion-button.collapsed .arrow_show {
  -webkit-transform: rotateZ(270deg);
          transform: rotateZ(270deg);
  display: none;
}
#faq .accordion-item .accordion-button .arrow_hidden {
  -webkit-transform: rotateZ(90deg);
          transform: rotateZ(90deg);
  display: none;
}
#faq .accordion-item .accordion-button .arrow_show {
  -webkit-transform: rotateZ(270deg);
          transform: rotateZ(270deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#help .form {
  margin: 20px;
  padding: 20px;
  border: 1px solid gray;
  width: 350px;
}
#help .form__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
#help #input {
  padding-left: 10px;
}
#help input {
  height: 40px;
  border-radius: 10px;
  border-style: inset;
}
#help input:focus {
  border-style: inset;
  -webkit-box-shadow: 0px 0px 3px 3px #09800f;
          box-shadow: 0px 0px 3px 3px #09800f;
}
#help label {
  margin: 5px 0;
  color: silver;
}
#help .btn {
  margin: 15px auto 0 auto;
  padding: 5px 20px;
  border-style: none;
  border-radius: 5px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2em;
  background-color: #075c0b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  overflow: hidden;
  color: silver;
}
#help .btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1.2em;
  height: 100%;
  background-color: #fff;
  opacity: 0.2;
  -webkit-transform: translateX(-3em) skewX(-45deg);
          transform: translateX(-3em) skewX(-45deg);
}
#help .btn:hover {
  -webkit-transition: 1.2s;
  transition: 1.2s;
  color: white;
}
#help .btn:focus {
  border-style: none;
  -webkit-box-shadow: 0px 0px 3px 3px #09800f;
          box-shadow: 0px 0px 3px 3px #09800f;
}

#back-top {
  background-image: url(../img/arrow.png);
  background-size: cover;
  background-color: rgba(37, 250, 29, 0.932);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  bottom: 70px;
  right: 15px;
  -webkit-transform: rotateZ(270deg);
          transform: rotateZ(270deg);
  opacity: 0.3;
}

#back-top:hover {
  background-color: rgba(14, 112, 10, 0.6);
  -webkit-box-shadow: 0px 0px 10px #075c0b;
          box-shadow: 0px 0px 10px #075c0b;
  opacity: 0.8;
}

#back-top a {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

footer {
  height: auto;
  background-color: rgb(41, 38, 38);
}
footer p {
  margin: 5px 0 5px 15px;
}
footer p a {
  text-decoration: none;
  color: gray;
}
footer p a:hover {
  color: #237927;
}
footer .conteiner_two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer #twitter,
footer #facebook,
footer #instagram,
footer #telegram,
footer #whatsapp,
footer #viber {
  margin: 15px 7px;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background-color: #075c0b;
}
footer .conteiner_two a {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
}
footer #facebook {
  -webkit-box-shadow: 0px 0px 10px rgb(255, 255, 255);
          box-shadow: 0px 0px 10px rgb(255, 255, 255);
  background-size: 100%;
  background-image: url(../img/facebook-black.png);
}
footer #facebook:hover {
  -webkit-box-shadow: 0px 0px 2px 4px rgba(33, 243, 14, 0.6);
          box-shadow: 0px 0px 2px 4px rgba(33, 243, 14, 0.6);
  background-image: url(../img/facebook.png);
}
footer #instagram {
  -webkit-box-shadow: 0px 0px 10px rgb(255, 255, 255);
          box-shadow: 0px 0px 10px rgb(255, 255, 255);
  background-size: 100%;
  background-image: url(../img/instagram-black.png);
}
footer #instagram:hover {
  -webkit-box-shadow: 0px 0px 2px 4px rgba(33, 243, 14, 0.6);
          box-shadow: 0px 0px 2px 4px rgba(33, 243, 14, 0.6);
  background-image: url(../img/instagram.png);
}
footer #telegram {
  -webkit-box-shadow: 0px 0px 10px rgb(255, 255, 255);
          box-shadow: 0px 0px 10px rgb(255, 255, 255);
  background-size: 100%;
  background-image: url(../img/telegram-black.png);
}
footer #telegram:hover {
  -webkit-box-shadow: 0px 0px 2px 4px rgba(33, 243, 14, 0.6);
          box-shadow: 0px 0px 2px 4px rgba(33, 243, 14, 0.6);
  background-image: url(../img/telegram.png);
}
footer #twitter {
  -webkit-box-shadow: 0px 0px 10px rgb(255, 255, 255);
          box-shadow: 0px 0px 10px rgb(255, 255, 255);
  background-size: 100%;
  background-image: url(../img/twitter-black.png);
}
footer #twitter:hover {
  -webkit-box-shadow: 0px 0px 2px 4px rgba(33, 243, 14, 0.6);
          box-shadow: 0px 0px 2px 4px rgba(33, 243, 14, 0.6);
  background-image: url(../img/twitter.png);
}
footer #viber {
  -webkit-box-shadow: 0px 0px 10px rgb(255, 255, 255);
          box-shadow: 0px 0px 10px rgb(255, 255, 255);
  background-size: 100%;
  background-image: url(../img/viber-black.png);
}
footer #viber:hover {
  -webkit-box-shadow: 0px 0px 2px 4px rgba(33, 243, 14, 0.6);
          box-shadow: 0px 0px 2px 4px rgba(33, 243, 14, 0.6);
  background-image: url(../img/viber.png);
}
footer #whatsapp {
  -webkit-box-shadow: 0px 0px 10px rgb(255, 255, 255);
          box-shadow: 0px 0px 10px rgb(255, 255, 255);
  background-size: 100%;
  background-image: url(../img/whatsapp-black.png);
}
footer #whatsapp:hover {
  -webkit-box-shadow: 0px 0px 2px 4px rgba(33, 243, 14, 0.6);
          box-shadow: 0px 0px 2px 4px rgba(33, 243, 14, 0.6);
  background-image: url(../img/whatsapp.png);
}

@media screen and (min-width: 1024px) {
  .navbar .nav_menu_mobile {
    display: none;
  }
  .navbar .nav_menu_computer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #courses {
    margin-top: 100px;
  }
}
@media (min-width: 576px) {
  .col-sm-6 {
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
  }
}