@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Tangerine:wght@700&display=swap"); // @import "icon-list";

* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

html,
body {
  background-color: rgb(38, 41, 38);
}

// ------------------------header------------------------
.navbar {
  .nav_menu_logo {
    margin: 0 5px;
    padding: 0;
    display: flex;

    .row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 3px 5px;
      padding: 0;
    }
    .logo {
      padding: 0;

      h1 {
        padding: 0;
        margin: 0;
        font-size: 1.1em;
        letter-spacing: 0.1em;
        font-family: "Tangerine", cursive;
        color: #0d7212;
      }
    }

    .languages {
      padding: 0px;
      display: flex;
      justify-content: end;

      .language {
        padding: 3px;
        margin: 0 3px;
        width: 40px;
        background-color: gray;
        color: silver;
        position: relative;
        border: 2px solid rgb(161, 161, 161);
        border-style: outset;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
      }

      .active {
        background-color: #075c0b;
        color: silver;
      }

      .language::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 1.2em;
        height: 100%;
        background-color: #fff;
        opacity: 0.2;
        transform: translateX(-3em) skewX(-45deg);
      }

      .language:hover {
        transition: 1.2s;
        color: white;
      }

      .language:hover::before {
        animation: blickLanguages 0.5s;
      }

      @keyframes blickLanguages {
        from {
          transform: translateX(-3em) skewX(-45deg);
        }

        to {
          transform: translateX(5em) skewX(-45deg);
        }
      }

      a {
        width: 40px;
        height: 35px;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }

  .nav_menu_mobile {
    margin: 0 5px;
    padding: 0;
    display: flex;

    .row {
      display: flex;
      margin: 3px 5px;
      padding: 0;
    }
  }

  .button {
    margin: 0 3px;
    padding: 5px 20px;
    border-radius: 5px;
    border: 2px solid rgb(161, 161, 161);
    border-style: outset;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2em;
    background-color: #075c0b;
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
    color: silver;
  }

  .button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 1.2em;
    height: 100%;
    background-color: #fff;
    opacity: 0.2;
    transform: translateX(-3em) skewX(-45deg);
  }

  .button:hover {
    transition: 1.2s;
    color: white;
  }

  .button:hover::before {
    animation: blick 1.3s;
  }

  @keyframes blick {
    from {
      transform: translateX(-3em) skewX(-45deg);
    }

    to {
      transform: translateX(30em) skewX(-45deg);
    }
  }

  .nav_menu_computer {
    margin: 0 5px;
    padding: 0;
    display: none;

    .row {
      display: flex;
      margin: 3px 5px;
      padding: 0;
    }
  }
}

// ------------------------section all------------------------
section {
  height: auto;
  margin-bottom: 10px;

  h2 {
    color: silver;
    font-family: "Roboto", sans-serif;
    text-align: center;
  }
}

// ------------------------courses------------------------
#courses {
  margin-top: 160px;
  max-width: 600px;

  #favorite_team,
  #team_list {
    width: 150px;
    height: 30px;
  }
  .main {
    margin: auto;
    padding: 15px;
    border: 1px solid gray;
    border-radius: 5px;
    color: white;

    input {
      border: none;
    }

    input:focus {
      border: 1px solid;
      box-shadow: 0px 0px 3px 3px #09800f;
    }
  }

  label {
    font-size: 20px;
  }

  .searchBox {
    margin-bottom: 15px;
  }

  .text-center {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;

    .btn {
      margin: 10px 10px 0 0;
      padding: 5px 10px;
      border: 2px solid rgb(161, 161, 161);
      border-style: outset;
      border-radius: 5px;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 1.2em;
      background-color: #075c0b;
      display: flex;
      justify-content: center;
      position: relative;
      color: silver;
    }

    .btn:last-child {
      margin-right: 0;
    }

    .btn:hover {
      transition: 1.2s;
      color: white;
    }
  }

  #finalAmount {
    display: none;
    margin: 10px auto;
  }

  #finalAmount h2 {
    font-size: 30px;
  }

  .sending {
    a {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }

  .finalValue {
    color: green;
  }

  #sel1:focus,
  #sel2:focus {
    box-shadow: 0px 0px 3px 3px #09800f;
  }

  .input-group-prepend {
    width: 90px;
  }
}

// ------------------------exchange------------------------
#exchange {
  margin: 0 12px 12px 12px;
  max-width: 580px;

  #send_form {
    padding: 12px;
  }

  .change {
    width: 100%;
    display: flex;
    flex-direction: row;

    :first-child {
      width: 100%;
      margin-right: 10px;
    }

    :last-child {
      width: 100%;
      margin-right: 0px;
    }
  }

  .form {
    height: auto;
    padding: 30px;
    border: 1px solid gray;
    border-radius: 5px;
    color: white;
  }

  .form__item {
    display: flex;
    flex-direction: column;
  }

  label {
    margin: 5px 0 0 0;
    color: silver;
  }

  input {
    width: auto;
    height: 40px;
    border-radius: 10px;
    border-style: inset;
  }

  input:focus {
    border-style: inset;
    box-shadow: 0px 0px 3px 3px #09800f;
  }

  .country-phone-options {
    top: 12px;
  }

  .country-phone {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    position: relative;
    .phone {
      min-width: 160px;
      width: 100%;
    }

    input {
      width: 95%;
      margin: 0 7px 0 7px;
    }
  }

  .btn {
    margin: 10px auto 0 auto;
    padding: 5px 20px;
    border: 2px solid rgb(161, 161, 161);
    border-style: outset;
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2em;
    background-color: #075c0b;
    display: flex;
    justify-content: center;
    position: relative;
    color: silver;
  }

  .btn:hover {
    transition: 1.2s;
    color: white;
  }

  #give,
  #geting,
  #result,
  #input,
  #input_telegram {
    padding-left: 10px;
  }
}

// ------------------------transfer------------------------
#transfer {
  h3 {
    text-align: center;
    font-size: 1.1rem;
    color: silver;
  }

  p {
    color: silver;
  }

  .form {
    border: 1px solid gray;
    border-radius: 5px;
    width: 100%;
  }

  .form__item {
    display: flex;
    flex-direction: column;
  }

  #input {
    padding-left: 10px;
  }

  .country-phone {
    position: relative;

    input {
      width: 95%;
      margin: 0 7px 0 7px;
    }
  }

  .country-phone-selector {
    position: absolute;
    top: 4px;
    right: 0;
  }

  .country-phone-selected {
    color: black;
  }

  .country-phone-options {
    top: 6px;
    right: 15px;
  }

  input {
    height: 40px;
    border-radius: 10px;
    border-style: inset;
  }

  label {
    margin: 5px 0 0 15px;
    color: silver;
  }

  .country-money {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;

    .getMoney,
    .sendMoney {
      min-width: 110px;
      width: 100%;
    }
  }

  .btn {
    margin: 10px auto 10px auto;
    padding: 5px 20px;
    border: 2px solid rgb(161, 161, 161);
    border-style: outset;
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2em;
    background-color: #075c0b;
    display: flex;
    justify-content: center;
    position: relative;
    color: silver;
  }

  .btn:hover {
    transition: 1.2s;
    color: white;
  }
}

// ------------------------FAQ------------------------
#faq {
  .accordion-button {
    color: #237927;
    background-color: rgb(38, 41, 38);
    border: 1px solid gray;
  }

  .accordion-body {
    background-color: rgb(52, 54, 52);
    color: silver;
    border: 1px solid gray;
  }

  .accordion-button:focus {
    box-shadow: 0px 0px 1px 1px #09800f;
  }

  .accordion-item {
    position: relative;

    .arrow_hidden,
    .arrow_show {
      width: 30px;
      border-radius: 50%;
      background-color: rgba(14, 112, 10, 0.6);
      position: absolute;
      top: 13px;
      right: 15px;
      z-index: 10;
    }
    .accordion-button.collapsed {
      .arrow_hidden {
        transform: rotateZ(90deg);
        display: flex;
      }
      .arrow_show {
        transform: rotateZ(270deg);
        display: none;
      }
    }
    .accordion-button {
      .arrow_hidden {
        transform: rotateZ(90deg);
        display: none;
      }
      .arrow_show {
        transform: rotateZ(270deg);
        display: flex;
      }
    }
  }
}

// ------------------------help------------------------
#help {
  width: 100%;
}

// ------------------------contakts------------------------
#contacts {
  width: 100%;

  p {
    color: silver;
  }

  .row {
    display: flex;
  }

  .col-sm-5 {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
    }
  }
}

#consultant {
  .form {
    border: 1px solid gray;
    border-radius: 5px;
    width: 350px;
  }

  .form__item {
    display: flex;
    flex-direction: column;
  }

  #input {
    padding-left: 10px;
  }

  input {
    height: 40px;
    border-radius: 10px;
    border-style: inset;
  }

  label {
    margin: 5px 0;
    color: silver;
  }

  .country-phone {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    position: relative;

    .phoneTwo {
      min-width: 110px;
      width: 100%;
    }
  }

  .country-phone-options {
    top: 12px;
  }

  .btn {
    margin: 10px auto 10px auto;
    padding: 5px 20px;
    border: 2px solid rgb(161, 161, 161);
    border-style: outset;
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2em;
    background-color: #075c0b;
    display: flex;
    justify-content: center;
    position: relative;
    color: silver;
  }

  .btn:hover {
    transition: 1.2s;
    color: white;
  }
}

// ------------------------back-top------------------------
#back-top {
  background-image: url(../img/arrow.png);
  background-size: cover;
  background-color: rgba(37, 250, 29, 0.932);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  position: fixed;
  bottom: 70px;
  right: 15px;
  transform: rotateZ(270deg);
  opacity: 0.3;
  z-index: 20;
}

#back-top:hover {
  background-color: rgba(14, 112, 10, 0.6);
  box-shadow: 0px 0px 10px #075c0b;
  opacity: 0.8;
}

#back-top a {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

// ------------------------footer------------------------
footer {
  background-color: rgb(41, 38, 38);

  div {
    margin: 5px 0 5px 15px;

    a {
      text-decoration: none;
      color: gray;
    }
    a:hover {
      color: #237927;
    }

    span {
      padding: 0 2px;
      color: gray;
    }
  }

  .conteiner_two {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  #twitter,
  #facebook,
  #instagram,
  #telegram,
  #whatsapp,
  #viber {
    margin: 15px 7px;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background-color: #075c0b;
  }

  .conteiner_two a {
    width: 40px;
    height: 40px;
    display: flex;
    border-radius: 50%;
  }

  #facebook {
    box-shadow: 0px 0px 10px rgb(255, 255, 255);
    background-size: 100%;
    background-image: url(../img/facebook-black.png);
  }

  #facebook:hover {
    box-shadow: 0px 0px 2px 4px rgba(33, 243, 14, 0.6);
    background-image: url(../img/facebook.png);
  }

  #instagram {
    box-shadow: 0px 0px 10px rgb(255, 255, 255);
    background-size: 100%;
    background-image: url(../img/instagram-black.png);
  }

  #instagram:hover {
    box-shadow: 0px 0px 2px 4px rgba(33, 243, 14, 0.6);
    background-image: url(../img/instagram.png);
  }

  #telegram {
    box-shadow: 0px 0px 10px rgb(255, 255, 255);
    background-size: 100%;
    background-image: url(../img/telegram-black.png);
  }

  #telegram:hover {
    box-shadow: 0px 0px 2px 4px rgba(33, 243, 14, 0.6);
    background-image: url(../img/telegram.png);
  }

  #twitter {
    box-shadow: 0px 0px 10px rgb(255, 255, 255);
    background-size: 100%;
    background-image: url(../img/twitter-black.png);
  }

  #twitter:hover {
    box-shadow: 0px 0px 2px 4px rgba(33, 243, 14, 0.6);
    background-image: url(../img/twitter.png);
  }

  #viber {
    box-shadow: 0px 0px 10px rgb(255, 255, 255);
    background-size: 100%;
    background-image: url(../img/viber-black.png);
  }

  #viber:hover {
    box-shadow: 0px 0px 2px 4px rgba(33, 243, 14, 0.6);
    background-image: url(../img/viber.png);
  }

  #whatsapp {
    box-shadow: 0px 0px 10px rgb(255, 255, 255);
    background-size: 100%;
    background-image: url(../img/whatsapp-black.png);
  }

  #whatsapp:hover {
    box-shadow: 0px 0px 2px 4px rgba(33, 243, 14, 0.6);
    background-image: url(../img/whatsapp.png);
  }
}

@media screen and (min-width: 1024px) {
  .navbar {
    .nav_menu_mobile {
      display: none;
    }
    .nav_menu_computer {
      display: flex;
    }
  }

  #courses {
    margin-top: 100px;
  }
}

@media (min-width: 576px) {
  .col-sm-6 {
    flex: auto;
  }
}
