@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Tangerine:wght@700&display=swap"); // @import "icon-list";
#aaa {
  color: #fff;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

html,
body {
  background-color: rgb(38, 41, 38);
}

// ------------------------header------------------------
.navbar {
  .nav_menu_logo {
    margin: 0 5px;
    padding: 0;
    display: flex;

    .row {
      display: flex;
      justify-content: space-between;
      margin: 3px 5px;
      padding: 0;
    }
    .logo {
      padding: 0;

      h1 {
        padding: 0;
        margin: 0;
        font-size: 1.6em;
        letter-spacing: 0.1em;
        font-family: "Tangerine", cursive;
        color: #075c0b;
      }
    }

    .languages {
      padding: 0px;
      display: flex;
      justify-content: end;

      .language-active {
        padding: 3px;
        margin: 0 3px;
        width: 40px;
        background-color: #075c0b;
        color: silver;
      }

      .language {
        padding: 3px;
        margin: 0 3px;
        width: 40px;
        background-color: gray;
        color: black;
      }
    }
  }

  .nav_menu_mobile {
    margin: 0 5px;
    padding: 0;
    display: flex;

    .row {
      display: flex;
      margin: 3px 5px;
      padding: 0;
    }
  }

  .button {
    margin: 0 3px;
    padding: 5px 20px;
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2em;
    background-color: #075c0b;
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
    color: silver;
  }

  .button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 1.2em;
    height: 100%;
    background-color: #fff;
    opacity: 0.2;
    transform: translateX(-3em) skewX(-45deg);
  }

  .button:hover {
    transition: 1.2s;
    color: white;
  }

  .button:hover::before {
    animation: blick 1.3s;
  }

  @keyframes blick {
    from {
      transform: translateX(-3em) skewX(-45deg);
    }

    to {
      transform: translateX(30em) skewX(-45deg);
    }
  }

  .nav_menu_computer {
    margin: 0 5px;
    padding: 0;
    display: none;

    .row {
      display: flex;
      margin: 3px 5px;
      padding: 0;
    }
  }
}

// ------------------------section all------------------------
section {
  height: 400px;
  margin-bottom: 10px;

  h2 {
    color: silver;
    font-family: "Roboto", sans-serif;
    text-align: center;
  }
}
// ------------------------courses------------------------
#courses {
  margin-top: 150px;
  height: auto;

  #favorite_team,
  #team_list {
    width: 150px;
    height: 30px;
  }
  .main {
    margin: auto;
    padding: 30px;
    border: 1px solid gray;
    border-radius: 5px;
    color: white;
  }

  label {
    font-size: 20px;
  }

  .searchBox {
    margin-bottom: 10px;
  }

  .text-center {
    display: flex;
    justify-content: center;
  }

  .btn {
    margin: 15px auto 0 auto;
    padding: 5px 20px;
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2em;
    background-color: #075c0b;
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
    color: silver;
  }

  .btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 1.2em;
    height: 100%;
    background-color: #fff;
    opacity: 0.2;
    transform: translateX(-3em) skewX(-45deg);
  }

  .btn:hover {
    transition: 1.2s;
    color: white;
  }

  .btn:hover::before {
    animation: blicked 1.3s;
  }

  @keyframes blicked {
    from {
      transform: translateX(-3em) skewX(-45deg);
    }

    to {
      transform: translateX(30em) skewX(-45deg);
    }
  }

  #finalAmount {
    display: none;
    margin: 30px auto;
  }

  #finalAmount h2 {
    font-size: 30px;
  }
}

// ------------------------exchange------------------------
#exchange {
  height: auto;
}

// ------------------------contakts------------------------
#contacts {
  width: 100%;
  height: auto;

  p {
    color: silver;
  }

  .row {
    display: flex;
  }

  .col-sm-5 {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
    }
  }
}

// ------------------------FAQ------------------------
#faq {
  height: auto;

  .accordion-button {
    color: #237927;
    background-color: rgb(38, 41, 38);
    border: 1px solid gray;
  }

  .accordion-body {
    background-color: rgb(52, 54, 52);
    color: silver;
    border: 1px solid gray;
  }
}

// ------------------------help------------------------
#help {
  .form {
    margin: 20px;
    padding: 20px;
    border: 1px solid gray;
    width: 350px;
  }

  .form__item {
    display: flex;
    flex-direction: column;
  }

  label {
    margin: 5px 0;
    color: silver;
  }

  .btn {
    margin: 15px auto 0 auto;
    padding: 5px 20px;
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2em;
    background-color: #075c0b;
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
    color: silver;
  }

  .btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 1.2em;
    height: 100%;
    background-color: #fff;
    opacity: 0.2;
    transform: translateX(-3em) skewX(-45deg);
  }

  .btn:hover {
    transition: 1.2s;
    color: white;
  }

  .btn:hover::before {
    animation: blicked 1.3s;
  }

  @keyframes blicked {
    from {
      transform: translateX(-3em) skewX(-45deg);
    }

    to {
      transform: translateX(30em) skewX(-45deg);
    }
  }
}

// ------------------------back-top------------------------
#back-top {
  background-image: url(../img/arrow.png);
  background-size: cover;
  background-color: rgba(37, 250, 29, 0.932);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  position: fixed;
  bottom: 70px;
  right: 15px;
  transform: rotateZ(270deg);
  opacity: 0.3;
}

#back-top:hover {
  background-color: rgba(14, 112, 10, 0.6);
  box-shadow: 0px 0px 10px #075c0b;
  opacity: 0.8;
}

#back-top a {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

// ------------------------footer------------------------
footer {
  height: auto;
  background-color: rgb(41, 38, 38);

  p {
    margin: 5px 0 5px 15px;

    a {
      text-decoration: none;
      color: gray;
    }
    a:hover {
      color: #237927;
    }
  }

  .conteiner_two {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  #twitter,
  #facebook,
  #instagram,
  #telegram,
  #whatsapp,
  #viber {
    margin: 15px 7px;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background-color: #075c0b;
  }

  .conteiner_two a {
    width: 40px;
    height: 40px;
    display: flex;
    border-radius: 50%;
  }

  #facebook {
    box-shadow: 0px 0px 10px rgb(255, 255, 255);
    background-size: 100%;
    background-image: url(../img/facebook-black.png);
  }

  #facebook:hover {
    box-shadow: 0px 0px 2px 4px rgba(33, 243, 14, 0.6);
    background-image: url(../img/facebook.png);
  }

  #instagram {
    box-shadow: 0px 0px 10px rgb(255, 255, 255);
    background-size: 100%;
    background-image: url(../img/instagram-black.png);
  }

  #instagram:hover {
    box-shadow: 0px 0px 2px 4px rgba(33, 243, 14, 0.6);
    background-image: url(../img/instagram.png);
  }

  #telegram {
    box-shadow: 0px 0px 10px rgb(255, 255, 255);
    background-size: 100%;
    background-image: url(../img/telegram-black.png);
  }

  #telegram:hover {
    box-shadow: 0px 0px 2px 4px rgba(33, 243, 14, 0.6);
    background-image: url(../img/telegram.png);
  }

  #twitter {
    box-shadow: 0px 0px 10px rgb(255, 255, 255);
    background-size: 100%;
    background-image: url(../img/twitter-black.png);
  }

  #twitter:hover {
    box-shadow: 0px 0px 2px 4px rgba(33, 243, 14, 0.6);
    background-image: url(../img/twitter.png);
  }

  #viber {
    box-shadow: 0px 0px 10px rgb(255, 255, 255);
    background-size: 100%;
    background-image: url(../img/viber-black.png);
  }

  #viber:hover {
    box-shadow: 0px 0px 2px 4px rgba(33, 243, 14, 0.6);
    background-image: url(../img/viber.png);
  }

  #whatsapp {
    box-shadow: 0px 0px 10px rgb(255, 255, 255);
    background-size: 100%;
    background-image: url(../img/whatsapp-black.png);
  }

  #whatsapp:hover {
    box-shadow: 0px 0px 2px 4px rgba(33, 243, 14, 0.6);
    background-image: url(../img/whatsapp.png);
  }
}

@media screen and (min-width: 1024px) {
  .navbar {
    .nav_menu_mobile {
      display: none;
    }
    .nav_menu_computer {
      display: flex;
    }
  }

  #courses {
    margin-top: 100px;
  }
}
